<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <MindArc_FatZebra>
            <version>2.3.1</version>
            <depends>
                <Mage_Sales />
       </depends>
        </MindArc_FatZebra>
    </modules>
    <global>
        <models>
            <fatzebra>
                <class>MindArc_FatZebra_Model</class>
                <resourceModel>fatzebra_mysql4</resourceModel>
            </fatzebra>
            <fatzebra_mysql4>
                <class>MindArc_FatZebra_Model_Mysql4</class>
                <entities>
                    <fraud>
                        <table>fatzebrafraud_data</table>
                    </fraud>
                </entities>
            </fatzebra_mysql4>
            <fatzebra_adminhtml>
                <class>MindArc_FatZebra_Model_Adminhtml</class>
            </fatzebra_adminhtml>
        </models>
        <helpers>
            <fatzebra>
                <class>MindArc_FatZebra_Helper</class>
            </fatzebra>
        </helpers>
        <blocks>
            <fatzebra>
                <class>MindArc_FatZebra_Block</class>
            </fatzebra>
        </blocks>
        <resources>
            <fatzebra_setup>
                <setup>
                    <module>MindArc_FatZebra</module>
                    <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </fatzebra_setup>
            <fatzebra_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </fatzebra_write>
            <fatzebra_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </fatzebra_read>
        </resources>
         <events>
        <payment_method_is_active>
            <observers>
                <fatzebra_payment_method_is_active>
                    <type>singleton</type>
                    <class>fatzebra/observer</class>
                    <method>paymentMethodIsActive</method>
                </fatzebra_payment_method_is_active>
            </observers>
        </payment_method_is_active>
          <checkout_onepage_controller_success_action>
                <observers>
                    <fatzebra_success_action>
                        <type>singleton</type>
                        <class>fatzebra/observer</class>
                        <method>handleSuccessAction</method> 
                    </fatzebra_success_action>
                </observers>
          </checkout_onepage_controller_success_action>
        </events>
    </global>
    <default>
        <payment>
            <fatzebra>
                <active>1</active>
                <model>fatzebra/payment</model>
                <order_status>pending</order_status>
                <title>Fat Zebra</title>
                <username>TEST</username>
                <token>TEST</token>
                <shared_secret>033bd94b11</shared_secret>
                <cctypes>AE,VI,MC,JCB</cctypes>
                <show_logo>1</show_logo>
                <fraud_detected>0</fraud_detected>
                <direct_post>1</direct_post>
                <can_save>1</can_save>
                <payment_action>authorize</payment_action>
                <allowspecific>0</allowspecific>
            </fatzebra>
        </payment>
    </default>
    <frontend>
        <routers>
            <fatzebra>
                <use>standard</use>
                <args>
                    <module>MindArc_FatZebra</module>
                    <frontName>fatzebra</frontName>
                </args>
            </fatzebra>
        </routers>
        <layout>
            <updates>
                <fatzebra>
                    <file>fatzebra.xml</file>
                </fatzebra>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <events>
            <core_block_abstract_prepare_layout_after>
                <observers>
                    <fatzebra_grid_column>
                        <type>model</type>
                        <class>MindArc_FatZebra_Model_Observer</class>
                        <method>addActionColumn</method> 
                    </fatzebra_grid_column>
                </observers>
            </core_block_abstract_prepare_layout_after>
            <sales_order_grid_collection_load_before>
                <observers>
                    <fatzebra_order_prepare_collection>
                        <type>model</type>
                        <class>MindArc_FatZebra_Model_Observer</class>
                        <method>prepareOrderGridCollection</method> 
                    </fatzebra_order_prepare_collection>
                </observers>
            </sales_order_grid_collection_load_before>
        </events>    
        <layout>
            <updates>
                <fatzebra>
                    <file>fatzebra.xml</file>
                </fatzebra>
            </updates>
        </layout>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <fatzebra>
                                            <title>Fraud Detection</title>
                                        </fatzebra>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>